@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: local('Gilroy'),
  local('Gilroy-ExtraBold'),
  url(../fonts/gilroyextrabold.woff2) format('woff2'),
  url(../fonts/gilroyextrabold.woff) format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: local('Gilroy'),
  local('Gilroy-Light'),
  url(../fonts/gilroylight.woff2) format('woff2'),
  url(../fonts/gilroylight.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans'),
  local('Open Sans Light'),
  url(../fonts/opensanslight.woff2) format('woff2'),
  url(../fonts/opensanslight.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'),
  local('Open Sans Regular'),
  url(../fonts/opensans.woff2) format('woff2'),
  url(../fonts/opensans.woff) format('woff');
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-header {
  background-color: #f7e296;
}

.main-header a {
  color: #000000;
}

.main-header a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main-header a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header-logo a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
}

.search input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.site-controls ul {
  list-style: none;
}

.site-controls a:hover,
.main-navigation a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.site-controls a:active,
.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation-list,
.main-navigation-catalog-list {
  list-style: none;
}

.main-navigation-item > a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.main-navigation-catalog-item a {
  line-height: 36px;
}

.top-slide-header {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
}

.button {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;

  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3px;

  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.small-button {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.small-button:hover {
  color: #000000;
}

.small-button:active {
  color: rgba(0, 0, 0, 0.2);
}

.top-slide-table-data {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
}

.top-slide-table-header {
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
}

.popular-item {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
  background-color: #f7e296;
}

.popular-item:hover {
  background-color: #f0c52e;
}

.popular-item:active {
  background-color: rgba(240, 197, 46, 0.3);
}

.popular-item a {
  color: #000000;
}

.popular-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.services {
  background-color: #e5e5e5;
}

.services-item-header {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
}

.services-item label {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3px;

  background-color: #f0c52e;
}

.services-item label:active {
  color: #f7e184;
  background-color: #000000;
}

.info-header {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
}

.info-delivery-item {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
}

.info-delivery-item a {
  color: #000000;
}

.main-footer {
  color: #ffffff;
  background-color: #464646;
}

.main-footer a {
  color: #ffffff;
}

.main-footer a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.main-footer a:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-footer li {
  list-style: none;
}

.main-footer-navigation-item {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.logo-yellow a {
  color: #ffc600;
}

.logo-yellow a:hover {
  color: rgba(255, 198, 0, 0.6);
}

.logo-yellow a:active {
  color: rgba(255, 198, 0, 0.3);
}

.feedback-form label {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.feedback-form input,
.feedback-form textarea {
  background-color: #f2f2f2;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  background-color: #eaeaea;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  background-color: #ffffff;
  color: #464646;
  border: 3px solid #f0c52e;
}

.feedback-form input::placeholder,
.feedback-form textarea::placeholder {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);
}

.main-page-header {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
}

.breadcrumbs-item:first-child {
  list-style: none;
}

.breadcrumbs-item a,
.breadcrumbs-current {
  color: rgba(0, 0, 0, 0.3);
}

.filters {
  background-color: #efefef;
}

.filters-header {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 3px;

  background-color: #dbdbdb;
}

.filters legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.price-filter label,
.price-filter input {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 24px;
}

.filter-option label {
  font-size: 14px;
  line-height: 40px;
}

.catalog-sort {
  background-color: #ebebeb;
}

.catalog-sort-header {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 3px;
}

.catalog-sort-type-list {
  list-style: none;
}

.catalog-sort-type-item {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.catalog-sort-type-item a {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-sort-type-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-sort-type-item a:active {
  color: #000000;
}

.catalog-item-title-row a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.catalog-item-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.new-item-mark {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
}

.pagination {
  background-color: #ebebeb;
}

.pagination a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.pagination > a:hover {
  background-color: #d9d9d9;
}

.pagination > a:active {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item {
  list-style: none;
}

.pagination-item a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item-current a,
.pagination-item a:active {
  color: #000000;
}


